body{background-color: rgb(114, 138, 184);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: larger;
   color: rgb(0, 0, 0);}
   h1{text-align: center;}
   h2{text-align: center;}
header{background-color: rgb(201, 218, 228);}
nav{width: 200px;
    height: 150px;
   line-height:2 ;}
   p{text-align: center;} 
   img{width: 350px;
      float: right;
      margin-right: 800px;
      }
      nav {
         display: flex;
         gap: 10px; 
         margin-left: 800px;}
         section{width: 90%;
            height: 300px; 
            margin:0 auto ;
         }
     
       
    
    nav li{list-style-type: none;}
    
    table{text-align: center;
          margin: 0 auto;}
     
     
        